{{!< layout false}} <!doctype html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/public/css/adminside.css" />
        <title>Admin Screen</title>

        <script>
            function showConfirmation() {
                // Display a confirmation pop-up
                var isConfirmed = window.confirm("Are you sure you want to perform this action?");

                // Check if the user clicked "OK" (true) or "Cancel" (false)
                if (isConfirmed) {
                    // User clicked "OK", perform the action
                    window.location.href = "/delemp/" + empid;
                } else {
                    // User clicked "Cancel", do nothing or handle accordingly
                    alert("Action cancelled!");
                }
            }
        </script>
    </head>


    <body>
        {{!-- tabs --}} <div class="container-fluid" style="margin-top: 5%">

            <div class="row">
                <div class="col-lg-3 col-md-12 col-12 rowcol1">
                    <div class="nav flex-column nav-pills text-uppercase" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        {{!-- <a class="nav-link active" id="v-pills-leavereqs-tab" data-toggle="pill"
                            href="#v-pills-leavereqs" role="tab" aria-controls="v-pills-homeleavereqs"
                            aria-selected="true"> Leave Requests</a> --}}
                        {{!-- <a class="nav-link" id="v-pills-emphistory-tab" data-toggle="pill"
                            href="#v-pills-emphistory" role="tab" aria-controls="v-pills-emphistory"
                            aria-selected="false">Employee History</a> --}}
                        <a class="nav-link" id="v-pills-empattendance-tab" data-toggle="pill"
                            href="#v-pills-empattendance" role="tab" aria-controls="v-pills-empattendance"
                            aria-selected="false">Employee Attendance</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-addemps"
                            role="tab" aria-controls="v-pills-messages" aria-selected="false">Add New Employee</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-delemps"
                            role="tab" aria-controls="v-pills-settings" aria-selected="false">Employee List</a>
                        <a class="nav-link" id="v-pills-reports-tab" data-toggle="pill" href="#v-pills-reports"
                            role="tab" aria-controls="v-pills-reports" aria-selected="false">Monthly Reports</a>
                        <a class="nav-link" id="v-pills-update-tab" data-toggle="pill" href="#v-pills-update" role="tab"
                            aria-controls="v-pills-update" aria-selected="false">Update Employee Details</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade" id="v-pills-empattendance" role="tabpanel"
                            aria-labelledby="v=pills-empattendance-tab">
                            <form action="/markatt" method="post">
                                <input class="form-control" id="current-date" name="Date" type="date" readonly
                                    style="border: none;">
                                <table id="employee-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Submit</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </form>

                            <script src="/public/scripts/attendance.js"></script>

                        </div>

                        <div class="tab-pane fade" id="v-pills-addemps" role="tabpanel"
                            aria-labelledby="v-pills-addemps-tab">
                            <div class="card">
                                Add Employee
                            </div>
                            <div class="container">
                                <form action="/addemp" method="GET">
                                    <div class="form-group">
                                        <label for="name">Enter the name of Employee</label>
                                        <input type="text" class="form-control" name="name" id="name"
                                            placeholder="Enter the name" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="empid">Employee ID</label>
                                        <input type="number" class="form-control" name="empid" id="empid"
                                            placeholder="Enter the ID" required>
                                    </div>


                                    <div class="form-group">
                                        <label for="DOJ">Date of Joining</label>
                                        <input type="date" class="form-control" name="DOJ" id="DOJ"
                                            placeholder="Enter DOJ" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="DOB">Date of Birth</label>
                                        <input type="date" class="form-control" name="DOB" id="DOB"
                                            placeholder="Enter DOB" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email ID</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Enter mail ID" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="designation">Designation</label>
                                        <input type="text" class="form-control" name="designation" id="designation"
                                            placeholder="Enter the designation of the employee" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="place">Place</label>
                                        <input type="text" class="form-control" name="place" id="place"
                                            placeholder="Enter the place where the employee belongs to" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        {{!-- emphistory tab --}}
                        <div class="tab-pane fade" id="v-pills-emphistory" role="tabpanel"
                            aria-labelledby="v-pills-emphistory-tab">
                            <div class="container">
                                <div class="card">
                                    Search For Employee Record
                                </div>
                                <div class="input-group">
                                    <form action="/calculateleaves" method="get" class="d-flex" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Search"
                                            aria-label="Search" name="empid" id="empid">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="v-pills-delemps" role="tabpanel"
                            aria-labelledby="v-pills-delemps-tab">
                            <div class="container">
                                <div class="card">
                                    Delete the records of the Employee
                                </div>
                                <div class="card-container">
                                    {{#each cancleemp}}
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Employee ID: {{empid}}</h5>
                                            <p class="card-text">Email: {{email}}</p>
                                            <a href="delemp/{{empid}}" class="btn btn-danger"
                                                onclick="showConfirmation('{{empid}}')"><i class="fa-1x fa fa-trash"
                                                    aria-hidden="true"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <script src="/public/scripts/script.js"></script>
                        </div>



                        {{!-- Download Reports tab --}}
                        <div class="tab-pane fade" id="v-pills-reports" role="tabpanel"
                            aria-labelledby="v-pills-reports-tab">
                            <div class="card">
                                Generate monthly reports
                            </div>
                            <div class="container">
                                {{!-- <form action="/monthlyreport" method="get"> --}}
                                    <div class="container">
                                        <div class="card">
                                            <div class="card-body">

                                                <form action="/monthlyreport" method="post">
                                                    <div class="form-group">
                                                        <label for="month">Enter Current Month</label>
                                                        <input type="number" class="form-control" name="Month"
                                                            id="Month" placeholder="Enter the Current Month" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sundaycount">Enter the count of Sundays</label>
                                                        <input type="number" class="form-control" name="sundaycount"
                                                            id="sundaycount" placeholder="Enter the Sunday Count"
                                                            required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="holiday">Enter the count of Sundays</label>
                                                        <input type="number" class="form-control" name="holiday"
                                                            id="holiday" placeholder="Enter the Holiday Count" required>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">Download
                                                        Monthly Report</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    {{!--
                                </form> --}}


                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-update" role="tabpanel"
                            aria-labelledby="v-pills-update-tab">
                            <form action="/updaterecord" method="post" id="updateForm">
                                <label for="empid">Empid</label>
                                <input class="form-control" type="number" name="empid" id="empid"
                                    placeholder="Enter the employee id to update records">

                                <label>Select records to update:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="name" id="name" value="name">
                                    <label class="form-check-label">Name</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="email" id="email"
                                        value="email">
                                    <label class="form-check-label">Email</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="place" id="place"
                                        value="place">
                                    <label class="form-check-label">Place</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="designation" id="designation"
                                        value="designation">
                                    <label class="form-check-label">Designation</label>
                                </div>

                                <div class="form-control" id="inputFieldsContainer"></div>

                                <button type="submit" class="btn bth-primary">Submit</button>
                            </form>

                            <script>
                                //document.addEventListener("DOMContentLoaded", function () {
                                // Get references to the checkboxes and the container for input fields
                                //   var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                                // var inputFieldsContainer = document.getElementById('inputFieldsContainer');

                                // Function to toggle visibility of input fields based on checkbox status
                                //function toggleInputFields() {
                                //  inputFieldsContainer.innerHTML = ''; // Clear existing input fields

                                //checkboxes.forEach(function (checkbox) {
                                //  if (checkbox.checked) {
                                // If checkbox is checked, create and append corresponding input field
                                //    var inputField = document.createElement('input');
                                //  inputField.setAttribute('type', 'text'); // You can adjust the type as needed
                                // inputField.setAttribute('name', checkbox.value);
                                //inputField.setAttribute('placeholder', 'Enter ' + checkbox.value);
                                //inputFieldsContainer.appendChild(inputField);
                                //}
                                //});
                                //}

                                // Attach event listener to checkboxes to trigger the toggle function
                                //checkboxes.forEach(function (checkbox) {
                                //  checkbox.addEventListener('change', toggleInputFields);
                                //});
                                //}); 
                                document.getElementById("updateForm").addEventListener("change", function () {
                                    updateInputFields();
                                });

                                function updateInputFields() {
                                    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                                    var container = document.getElementById("inputFieldsContainer");

                                    checkboxes.forEach(function (checkbox) {
                                        var inputField = document.getElementById("employeeInfo_" + checkbox.value);

                                        if (checkbox.checked) {
                                            // If the checkbox is checked, show the associated input field
                                            if (!inputField) {
                                                // If the input field doesn't exist, create it
                                                inputField = document.createElement("input");
                                                inputField.type = "text";
                                                inputField.className = "form-control";
                                                inputField.id = "employeeInfo_" + checkbox.value;
                                                inputField.name = "employeeInfo_" + checkbox.value;
                                                inputField.placeholder = "Enter information for " + checkbox.value;
                                                container.appendChild(inputField);
                                            }
                                            inputField.style.display = "block";
                                        } else {
                                            // If the checkbox is unchecked, hide and clear the associated input field
                                            if (inputField) {
                                                inputField.style.display = "none";
                                                inputField.value = ""; // Clear the input field
                                            }
                                        }
                                    });
                                }

                                document
                                    .getElementById("updateForm")
                                    .addEventListener("submit", function (event) {
                                        event.preventDefault();

                                        // Collect form data, including dynamically generated input fields
                                        var formData = new FormData(this);

                                        // Convert FormData to a plain object
                                        var formObject = {};
                                        formData.forEach(function (value, key) {
                                            formObject[key] = value;
                                        });

                                        // Log or process the collected form data
                                        console.log("Collected Form Data:", formObject);

                                        // Send the form data to the server using fetch or XMLHttpRequest
                                        fetch("/updaterecord", {
                                            method: "POST",
                                            headers: {
                                                "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify(formObject),
                                        })
                                            .then((response) => response.json())
                                            .then((data) => {
                                                console.log("Server response:", data);
                                                // Optionally, handle the server response
                                            })
                                            .catch((error) => console.error("Error:", error));
                                    });

                                // Initial setup to create all potential input fields
                                updateInputFields();

                            </script>

                            <style>
                                #updateForm {
                                    max-width: 400px;
                                    /* Adjust the maximum width as needed */
                                    margin: 0 auto;
                                    /* Center the form */
                                    padding: 20px;
                                    background-color: #f8f9fa;
                                    /* Light background color */
                                    border-radius: 8px;
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                                    /* Add a subtle box shadow */
                                }

                                label {
                                    display: block;
                                    margin-bottom: 8px;
                                }

                                .form-check {
                                    margin-bottom: 10px;
                                }

                                #inputFieldsContainer {
                                    margin-top: 15px;
                                }

                                input[type="text"] {
                                    width: 100%;
                                    padding: 8px;
                                    margin-bottom: 10px;
                                    box-sizing: border-box;
                                }

                                button {
                                    background-color: #007bff;
                                    /* Primary button color */
                                    color: #fff;
                                    /* Button text color */
                                    padding: 10px 15px;
                                    border: none;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }

                                button:hover {
                                    background-color: #0056b3;
                                    /* Button color on hover */
                                }
                            </style>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

                    </div>
                </div>

            </div>
        </div>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

    </html>