<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Employee Dashboard</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .col-lg-9 {
        padding-left: 18rem;
    }

    .card {
        padding: 1rem;
        font-size: large !important;
        font-weight: bold;
        border: none;
    }

    .form-control {
        width: 50%;
    }
</style>

<body>
    <div class="container-fluid" style="margin-top: 5%">

        <div class="row">
            <div class="col-lg-3 col-md-12 col-12 rowcol1">
                <div class="nav flex-column nav-pills text-uppercase" id="v-pills-tab" role="tablist"
                    aria-orientation="horizontal">
                    <a class="nav-link active" id="v-pills-attendance-tab" data-toggle="pill" href="#v-pills-attendance"
                        role="tab" aria-controls="v-pills-attendance" aria-selected="true">Mark Attendance</a>
                    <a class="nav-link" id="v-pills-application-tab" data-toggle="pill" href="#v-pills-leaveapplication"
                        role="tab" aria-controls="v-pills-leaveapplication" aria-selected="false">Apply for Leave</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-addemps" role="tab"
                        aria-controls="v-pills-messages" aria-selected="false">Check for remaining leaves</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-delemps" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false">Sign Out</a>
                    {{!-- <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-cancle"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false">Sign Out</a> --}}
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-attendance" role="tabpanel"
                        aria-labelledby="v-pills-attendance-tab">
                        <div class="card">
                            Mark Attendance
                        </div>
                        <div class="container">
                            <form action="/markattendance" method="post">

                                <div class="form-group">
                                    <label for="empid">Employee ID</label>
                                    <input type="number" class="form-control" id="empid" name="empid" value="{{empid}}"
                                        readonly>
                                </div>

                                <div class="form-group">
                                    <label for="Attendance">Mark your Attendence</label><br>
                                    <input type="radio" id="Attendance" name="Attendance" value="Present">
                                    <label for="Present">Present</label><br>
                                    <input type="radio" id="attendance" name="Attendance" value="Absent">
                                    <label for="Absent">Absent</label>
                                </div>

                                <div class="form-group">
                                    <label for="Location">Location</label>
                                    <select class="form-control" id="Location" name="Location">
                                        <option>On-Site</option>
                                        <option>Office</option>
                                        <option>Work from home</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="Date">Today's Date</label>
                                    <input type="date" class="form-control" name="Date" id="Date"
                                        placeholder="Today's Date" required>


                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-leaveapplication" role="tabpanel"
                        aria-labelledby="v-pills-leaveapplication-tab">
                        <div class="card">
                            Leave Application
                        </div>
                        <div class="container">
                            <form action="/application" method="post">
                                <div class="form-group">
                                    <label for="empid">Employee ID</label>
                                    <input type="number" class="form-control" name="empid" id="empid" value="{{empid}}"
                                        readonly>
                                </div>

                                <div class="form-group">
                                    <label for="leavetype">Type of Leave</label>
                                    <select class="form-control" id="leavetype" name="leavetype">
                                        <option>Sick Leave</option>
                                        <option>Paid Leave</option>
                                        <option>Compensatory Leaves</option>
                                        <option>Half Day</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="noofdays">Number of days you being on leave</label>
                                    <input type="number" class="form-control" id="noofdays" name="noofdays">
                                </div>

                                <div class="form-group">
                                    <label for="startdate">Enter the date on which you are on leave starts</label>
                                    <input type="date" class="form-control" id="startdate" name="startdate">
                                </div>

                                <div class="form-group">
                                    <label for="enddate">Enter the date on which you are on leave ends</label>
                                    <input type="date" class="form-control" id="enddate" name="enddate">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>


</html>