<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    .button {
        background-color: white;
        margin: 0 10px;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
    }

    .bt {

        display: flex;
        justify-content: center;
        margin-top: 244px;
    }
</style>

<body>
    <div class="bt">
        <a href="/Adminlogin" class="button">Admin Login</a>

        <a href="/Emplogin" class="button">Employee Login</a>
    </div>
</body>


</html>